{% load static %}

@font-face {
font-family: 'custom_font';
src: url('/static/main/fonts/ofont.ru_Stolzl.ttf') format('truetype');
}

body {
    height: 100%;
    font-family: 'custom_font';
    text-align: center;
    background: linear-gradient(to right, #EECFBA 25%, #C5DDE8, #EECFBA 75%);
}

.nav_button {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px double black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to top left, powderblue, pink);
    border-radius: 15px;
}

.nav_button:hover {
    color: white;
    background-color: black
}

.nav_button:active {
    background: linear-gradient(to right, #EECFBA 25%, #C5DDE8, #EECFBA 75%);
    transform: translateY(4px);
}

a.nav_button {
    display: block;
    border: 2px double black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    box-shadow: 2px 2px black;
}

div.last_added {
    border: 2px double black;
    border-radius: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    margin: auto;
    width: 320px;
}

div.result{
    width: 320px;
    margin: auto;
}

h3.result{
    width: 320px;
    margin: auto;
    padding: 5px;
}

.button_confirm{
    width: 160px;
    height: 40px;
    margin: auto;
}

html,
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
