{% load static %}
body {
    text-align: center;
    color: white;
    background-image: url('../img/IMG_0557.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a.nav_button {
    border: 2px double black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.nav_button:hover {background-color: white}

.nav_button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

ul.last_added {
    text-align: left;
    padding: 5px; /* Поля вокруг текста */
}

div.last_added {
    border: 2px double black;
    border-radius: 10px;
    background: grey;
    margin: 0 auto 0 auto;
    width: 320px;
    padding: 5px
}

div.last_added:empty {
   display: none;
}
