{% extends 'main/layout.html' %}

{% block body %}

<h3>Запросить данные:</h3>
<div class="last_added">
    <p>
    <form action="{% url 'getting' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="address" placeholder="союзная 6б">
        <input type="submit" name="submit" value="Искать адрес">
    </form>
    </p>
</div>

<div class="result">
    <p class="result">
        {{ error }}
    </p>
</div>

{% for result in results %}

<div class="result">
    <p class="result">
        <a href="{%url 'lift' result.id%}" class="nav_button">{{ result.address }}, тип связи: {{ i.communication_type}},
            станция: {{ result.station_type }},
            <br>комментарий: {{ result.comment }},
            <br>обновленно: {{ result.updated_at }}
        </a>
    </p>
</div>

{% endfor %}

{% endblock %}
