{% extends 'main/layout.html' %}
{{ notice }}
{{ error }}
{% block title %}
{{ getting }}
{% endblock %}

{% block body %}
<h3>{{ getting }}</h3>
<form method="POST">
    {% csrf_token %}
    <div class="last_added">
        <p>Город {{ form.city }}</p>
        <p>Улица {{ form.street }}</p>
        <p>Дом {{ form.house }}</p>
    </div>
    <h3>
        <button class="nav_button" type="reset"><i class="fas fa-redo"></i> Очистить форму</button>
        <button class="nav_button" type="submit"><i class="fas fa-angle-double-down"></i> Запросить данные</button>
    </h3>
</form>
<div class="last_added">
    {{ notice }}
    {{ error }}
    {% for el in form_find %}
    <ul class="last_added">{{ el }}</ul>
    {% endfor %}
</div>
{% endblock %}
