{% extends 'main/layout.html' %}
{% block body %}
<h3>{{ getting }}</h3>
<form method="POST">
    {% csrf_token %}
    <div class="last_added">
        <p>Адрес: {{ form.address }}</p>
    </div>
    <h3>
        <button class="button_confirm" type="reset"><i class="fas fa-redo"></i> Очистить форму</button>
        <button class="button_confirm" type="submit"><i class="fas fa-angle-double-down"></i> Запросить данные</button>
    </h3>
</form>
<div class="result">
    <p class="result">
        {% for i in form_find %}
        <a href="{%url 'lift' i.id%}" class="nav_button">{{ i.address }}, тип связи: {{ i.communication_type }},
            станция: {{ i.station_type }},
            <br>комментарий: {{ i.comment }},
            <br>обновленно: {{ i.updated_at }}
        </a>
    </p>
    {% empty %}
    <div class="last_added">Ничего...</div>
    {% endfor %}
</div>
{% endblock %}
