{% load static %}
<!doctype html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UDM-SVYAZ</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
</head>
<body>
<div class="wrapper">
    {{ message }}
    <h2>UDM-SVYAZ</h2>
    <div class="last_added">
        Доброго времени суток {{ user.get_username }}.
        <a href="{% url 'logout'%}?next={{request.path}}" style="color: white; text-decoration: none;">>ВЫХОД<</a>
    </div>
    <h3 class="result">
        <a href="{% url 'home' %}" class="nav_button"><i class="fas fa-american-sign-language-interpreting"></i> Главная</a>
    </h3>
    <h3 class="result">
        <a href="{% url 'addition' %}" class="nav_button"><i class="fas fa-ethernet"></i> Добавить адрес</a>
    </h3>
    <h3 class="result">
        <a href="{% url 'getting' %}" class="nav_button"><i class="fas fa-screwdriver"></i> Запросить данные</a>
    </h3>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
        <a href="/admin" style="font-size: 16px; color: black; text-decoration: none;">Администрирование</a>
    </div>
</div>
</body>
</html>
