{% load static %}
body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background-image: url('../img/IMG_0557.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(5px); /* Размытие */
   }

body {
    text-align: center;
    color: white;

}

.nav_button {
    display: block;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    border: 2px double black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.nav_button:hover {
    color: black;
    background-color: white
}

.nav_button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a.nav_button {
    display: block;
    border: 2px double black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

ul.last_added {
    text-align: left;
    padding: 5px;
}

div.last_added {
    border: 2px double black;
    border-radius: 10px;
    background: grey;
    margin: auto;
    width: 320px;
}
div.result{
    width: 320px;
    margin: auto;
}

h3.result{
    width: 320px;
    margin: auto;
    padding: 5px;
}

.button_confirm{
    width: 160px;
    height: 40px;
    margin: auto;
}
p.result{
    display: flex;
    align-items: flex-start;
}
